<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/quasar@1.15.1/dist/quasar.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="app">
      <div class="row">

        <div class="col-12 col-md-2 q-pa-md">
          <h5>Webhooks</h5>
          <q-list bordered separator v-for="(webhook,index) in webhooks" v-if="webhooks" :key="index">
            <q-item clickable>
              <q-item-section @click="loadTasks(webhook.webhookId)">
                <q-item-label>{{ webhook.webhookId }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </div>

        <div class="col-12 col-md-2 q-pa-md">
          <h5>Tasks</h5>
          <q-list bordered separator v-for="(task,index) in tasks" v-if="tasks" :key="index">
            <q-item clickable>
              <q-item-section @click="loadDataByTaskId(task.taskId)">
                <q-item-label>{{ task.taskId }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </div>

        <div class="col-12 col-md-8 q-pa-md">
          <h5>Task</h5>
          <q-tabs
            v-model="tab"
            dense
            class="text-grey"
            active-color="primary"
            indicator-color="primary"
            align="justify"
            narrow-indicator
          >
            <q-tab name="info" label="Info"></q-tab>
            <q-tab name="logs" label="Logs"></q-tab>
            <q-tab name="data"  label="Redis data"></q-tab>
          </q-tabs>

          <q-tab-panels v-model="tab" animated>
            <q-tab-panel name="info">
              <h3>Info</h3>
            </q-tab-panel>

            <q-tab-panel name="logs">
              <q-table
                title="Logs"
                :data="logs"
                :columns="columns"
                :pagination.sync="pagination"
              ></q-table>
            </q-tab-panel>

            <q-tab-panel name="data">
              <q-table
                title="Redis Data"
                :data="data"
                :columns="columns2"
                :pagination.sync="pagination"
              ></q-table>
            </q-tab-panel>
          </q-tab-panels>
          
        </div>
        
      </div>
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@1.15.0/dist/quasar.umd.min.js"></script>
    <script>

      var app = new Vue({
        el: '#app',        
        data: function () {
          return {
            tab: 'info',
            tasks: null,
            webhooks: null,
            data: [],
            logs: [],
            pagination: {
              page: 1,
              rowsPerPage: 0 // 0 means all rows
            },
            columns2: [
              {
                label: 'key',
                field: 'key',
              },
              {
                label: 'data',
                field: 'data',
              },
            ],
            columns: [
              {
                label: 'time',
                field: 'time',
              },
              {
                label: 'flowId',
                field: 'flowId',
              },
              {
                label: 'stepTaskId',
                field: 'stepTaskId',
              },
              {
                label: 'stepId',
                field: 'stepId',
              },
              {
                label: 'worker',
                field: 'worker',
              },
              {
                label: 'state',
                field: 'state',
              },
              {
                label: 'level',
                field: 'level',
              },
              {
                label: 'data',
                field: 'data',
              },
            ],
          }
        },
        methods: {
          async loadTasks(webhookId) {
            this.tasks = (await axios.get(`http://localhost:3001/task/${webhookId}`)).data;
          },
          async loadWebhooks() {
            this.webhooks = (await axios.get('http://localhost:3001/webhooks')).data;
          },
          async loadDataByTaskId (taskId) {
            await this.loadStepTaskLog(taskId);
            await this.loadTaskData(taskId);
          },
          async loadStepTaskLog(taskId) {
            this.logs = (await axios.get(`http://localhost:3001/steptaskLog/${taskId}`)).data;
          },
          async loadTaskData(taskId) {
            this.data = (await axios.get(`http://localhost:3001/data/${taskId}`)).data;
          },
        },
        mounted () {
          this.loadWebhooks();
          //this.loadTasks();
        },
      });

    </script>
  </body>
</html>